In [2]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

iris_data = load_iris()
iris_features = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
iris_labels = pd.DataFrame(iris_data.target, columns=["target"])

In [3]:
iris_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

#### 각 컬렉션 값에 결손값이 존재하지 않고 float 형이다.

In [4]:
iris_labels.value_counts()

target
0         50
1         50
2         50
dtype: int64

#### 레이블 값이 50개 씩 잘 분포되어 있다. (0 : setosa, 1: versicolor, 2: viginica)

In [6]:
iris_df = pd.concat([iris_features,iris_labels],axis=1)
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

#### iris_features 와 iris_labels 를 컬럼 방향으로 합친다.

In [7]:
def get_iris_dataset():
    return iris_df

In [11]:
type(get_iris_dataset())

pandas.core.frame.DataFrame